* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  font-size: 100%;

}
.header {
  background-color: rgb(150, 247, 247);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 50px;
}

.main {
  /* display: flex; */
  justify-content: center;
  margin: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input_task {
  display: block;
  padding: 10px;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 30vw;
  height: 300px;
  font-size: 20px;
}

.btn_task {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.input_value {
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50vw;
  height: 300px;
  font-size: 20px;
}

.select_task {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.description {
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50vw;
  height: 300px;
  text-align: left;
  font-size: 20px;
}

.test__title {
  text-align: center;
  font-size: 40px;
}

.tests {
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50vw;
  height: 300px;
  text-align: left;
  font-size: 20px;
}

.solution_wraper{
  display: block;
  padding: 10px;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 30vw;
  height: 300px;
  font-size: 20px;
  border: 1px solid black;
  overflow-x: auto;
}
.solution__btn{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}